<li class='highlight accordion' data-accordion-item>
  <a href'#' class='request-title accordion-title'><%= title %></a>
  <div class='accordion-content' data-tab-content>
    <em><%= url %></em>
    <div id='code'>
      <%= raw code %>
    </div>
  </div>
</li>
