<section class="search">
  <div class="grid-container">
    <div class="grid-x grid-margin-x search">
      <form class="custom">
          <div class="small-4 cell">
            <label>
              Select company to provision for:
            </label>
            <select id='company_select' class='dropdown selector'>
              <%= options_for_select companies %>
            </select>
          </div>
          <div class="small-4 cell">
            <label>
              What would you like to name your property?
            </label>
            <input id='property_name' type='text'>
          </div>
          <div class="small-4 cell start_provision">
            <div id='start_provision' class='provision button' src='/provision'>Provision</div>
          </div>
      </form>
    </div>
  </div>
</section>

<section class='results'>
  <div class='grid-container'>
    <div class="grid-x grid-margin-x">
      <div class='cell'>
        <ul class='accordion' data-accordion data-multi-expand='true' id='provision_events'></ul>
      </div>
    </div>
  </div>
</section>

<%= render 'sse' %>
