<section class="search">
  <div class="row">
    <div class="small-12 large-8 columns small-centered">
      <form class="custom">
        <div class="row">
          <div class="large-5 small-12 columns">
            <label>
              Select company to provision for:
            </label>
            <select id='company_select' class='dropdown selector'>
              <%= options_for_select companies %>
            </select>
          </div>
          <div class="large-5 small-12 columns">
            <label>
              What would you like to name your property?
            </label>
            <input id='property_name' type='text'>
          </div>
          <div class="large-2 small-12 columns start_provision">
            <div id='start_provision' class='provision button' src='/provision'>Provision</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class='results'>
  <div class='row large-12'>
    <ul class='accordion' data-accordion data-multi-expand='true' id='provision_events'></ul>
  </div>
</section>

<%= render 'sse' %>
