<section class="search">
  <div class="row">
    <div class="small-8 small-centered  columns">
      <form class="custom">
        <div class="row">
          <div class="small-6 columns">
            <label>
              Select company to duplicate property
            </label>
            <select id='company_select' class='dropdown selector'>
              <%= options_for_select companies %>
            </select>
          </div>
          <div class="small-2 end columns">
            <p><p>
            <div class="loader"></div>
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns">
            <label class='duplicate'>
              Select property to duplicate
            </label>
            <select id='source_property_select' class='duplicate dropdown selector'>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns">
            <label class='duplicate'>
              What would you like to name your new property?
            </label>
            <input id='target_property_name' type='text' class='duplicate'>
          </div>
        </div>
        <div class="row">
          <div class="small-2 columns get_properties">
            <div id='start_duplicate' class='duplicate button' src='/dupllicate'>Duplicate</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class='results'>
  <div class='row large-12'>
    <ul class='accordion' data-accordion data-multi-expand='true' id='duplicate_events'></ul>
  </div>
</section>

<%# <script> %>
<%#   $('.loader').toggle(); %>
<%#   $('.duplicate').toggle(); %>
<%# </script> %>
<%= javascript_include_tag 'duplicate.js' %>
