<li class='highlight accordion-item' data-accordion-item>
  <a href'#' class='request-title accordion-title'><%= title %></a>
  <div class='accordion-content' data-tab-content>
    <% if alpha_url.present? %>
      <em><a target='_blank' href=<%= alpha_url%>>Reactor URL</a></em>
      </br>
    <% end %>
    <em class='tag'><%= url %></a></em>
    <div id='code'>
      <%= raw code %>
    </div>
  </div>
</li>
