<section class="search">
  <div class="row">
    <div class="small-8 small-centered  columns">
      <form class="custom">
        <div class="grid-x grid-margin-x">
          <div class="cell small-6">
            <label>
              Select company to view analysis
            </label>
            <select id='company_select' class='dropdown selector'>
              <%= options_for_select companies %>
            </select>
          </div>
          <div class="cell auto">
            <div id='company_loader' class="loader"></div>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div class="cell small-6">
            <label class='analyze'>
              Select property to view analyses
            </label>
            <select id='source_property_select' class='analyze dropdown selector'>
              <option value=""></option>
            </select>
          </div>
          <div class="cell auto">
            <div id='property_loader' class="loader"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section id="analysis_section">
  <div class="row">
    <div class="grid-x grid-margin-x">
      <div id='analysis_button' class="cell small-1 row">
        <div id='start_analysis' class='button' >Analyze</div>
      </div>
      <div class="cell auto">
        <div id='analysis_loader' class="loader"></div>
      </div>
    </div>
  </div>
  <div id="analyses_table" class="row"></div>
</section>

<%= javascript_include_tag 'extract.js' %>
