/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require pygments

 */

.header {
  text-align: center;
  background: #074E68;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding-top: 2.5rem;
  padding-bottom: 4.9rem; }
  .header .headline {
    color: #ffe; }

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%; }
  .header-subnav li {
    float: none;
    display: inline-block; }
    .header-subnav li a {
      padding: 0.9rem 1rem;
      font-size: 0.75rem;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      transition: all 0.35s ease-in-out; }
      .header-subnav li a.is-active {
        background: rgba(250, 250, 250, 0.15); }
      .header-subnav li a:hover {
        background: rgba(250, 250, 250, 0.15);
        transition: all 0.35s ease-in-out; }

.search{
  margin-top: 50px;
}
h2{
  text-align: center;
}
form.custom .custom.dropdown{
  height: 45px;
}
label{
  margin-bottom: 10px;
}
form.custom .custom.dropdown{
  padding-top: 5px;
}
form.custom .custom.dropdown .selector{
  top: 5px;
}
div.start_provision{
  margin-top: 6px
}
.provision.button{
  height: 45px;
  margin-top:25px;
}

pre {
  padding: 10px 15px;
}

div#code {
  margin-top: 10px;
}

a.request-title {
  font-weight: bold;
  font-size: 1.1rem;
}

h3 {
  text-transform: uppercase;
  background-color: #DBDBDB;
  padding: 10px 15px;
  color: #4b4b4b;
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 0px;
}

div.text-field {
  margin-top: 10px;
}

.provision.button {
  height: 39px;
  margin-top: 29px;
}

input.sign-in.button {
  width: 100%;
}

em.tag {
  font-weight: bold
}
